$btn-green: rgb(10, 151, 10);
$btn-green-hover: rgb(11, 131, 11);
$btn-blue: rgb(55, 55, 247);
$btn-blue-hover: rgb(38, 38, 207);
$btn-yellow: rgb(255, 183, 29);
$btn-yellow-hover: rgb(221, 158, 22);
$btn-red: rgb(207, 7, 7);
$btn-red-hover: rgb(180, 12, 12);
$btn-gray: rgb(73, 73, 73);
$btn-gray-hover: rgb(54, 54, 54);

$input-focus: rgba(88, 175, 247, 0.788);

